.behind {
    .main{
        background-image: url(../img/behind/bg.png);
        height: 1000px;
    }
    h2 {
        color: #ffffff;
        font-size: 46px;
        position: absolute;
        top: 215px;
        left: 105px;
        letter-spacing: 1px;
    }
    .title-hr {
        position: absolute;
        left: 105px;
        width: 400px;
        height: 10px;
        background-color: #fff;
        clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
        top: 330px;
    }
    .scan {
        position: relative;
        padding: 30px 40px;
        width: 100%;
        margin: 0 auto !important;
        min-height: 70vh;
        font-family: "Space Mono", monospace;
        font-family: "Share Tech Mono", monospace;
        overflow: hidden;
        font-size: 14px;
        line-height: 1.9;
        margin: 0 0.5em;
        background-image: linear-gradient(transparent 50%, rgba(10, 15, 8, 0.1) 50%), radial-gradient(transparent 65%, rgba(2, 10, 1, 0.6) 100%);
        background-size: 15px, 100%;
    }
    .line {
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        mix-blend-mode: screen;
        opacity: 0.65;
        background-size: 100 100;
        animation: noise 240ms infinite;
        background-image: url(http://api.thumbr.it/whitenoise-300x300.png?background=0a2406ff&noise=142238&density=85&opacity=100);
    }
    .random {
        color: rgba(255, 255, 255, 0.2);
        letter-spacing: 3px;
        font-weight: 500;
        position: absolute;
        line-height: 1rem;
    }
    .random1 {
        top: 300px;
        right: 100px;
        font-size: 40px;
    }
    .random2 {
        top: 240px;
        right: 500px;
        font-size: 20px;
    }
    .random3 {
        top: 800px;
        font-size: 26px;
    }
    .random4 {
        top: 880px;
        right: 360px;
        font-size: 18px;
    }
    .random5 {
        width: 240px;
        font-size: 6px;
        font-weight: 100;
        top: 560px;
        left: 80px;
    }
    .random6 {
        width: 280px;
        font-size: 6px;
        font-weight: 100;
        top: 830px;
        right: -160px;
    }
    .square {
        position: absolute;
    }
    .square1 {
        top: 420px;
    }
    .square2 {
        top: 800px;
        right: 30px;
    }
    .shaft1 {
        -webkit-animation-delay: 0.05s;
        -moz-animation-delay: 0.05s;
        -o-animation-delay: 0.05s;
        animation-delay: 0.05s;
    }
    .shaft2 {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
    animation-delay: 0.1s;
    }
    .shaft3 {
    -webkit-animation-delay: 0.15s;
    -moz-animation-delay: 0.15s;
    -o-animation-delay: 0.15s;
    animation-delay: 0.15s;
    }
    .shaft4 {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
    }
    .shaft5 {
    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    -o-animation-delay: 0.25s;
    animation-delay: 0.25s;
    }

    .square > div {
        background-color: #FE2260;
        float: left;
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 0;
        -webkit-animation: loading 2s infinite ease-in-out;
        -moz-animation: loading 2s infinite ease-in-out;
        -o-animation: loading 2s infinite ease-in-out;
        animation: loading 2s infinite ease-in-out;
    }
    .square2 > div {
        -webkit-animation: loading 3s infinite ease-in-out;
        -moz-animation: loading 3s infinite ease-in-out;
        -o-animation: loading 3s infinite ease-in-out;
        animation: loading 3s infinite ease-in-out;
    }
    
    @-webkit-keyframes loading {
        80% {
            margin-right: 5px;
            -webkit-transform: translateXunquote("(" -10px ")");
            -moz-transform: translateXunquote("(" -10px ")");
            -ms-transform: translateXunquote("(" -10px ")");
            -o-transform: translateXunquote("(" -10px ")");
            transform: translateXunquote("(" -10px ")");
        }
    }
    @-moz-keyframes loading {
        80% {
            margin-right: 5px;
            -webkit-transform: translateXunquote("(" -10px ")");
            -moz-transform: translateXunquote("(" -10px ")");
            -ms-transform: translateXunquote("(" -10px ")");
            -o-transform: translateXunquote("(" -10px ")");
            transform: translateXunquote("(" -10px ")");
        }
    }
    @-o-keyframes loading {
        80% {
            margin-right: 5px;
            -webkit-transform: translateXunquote("(" -10px ")");
            -moz-transform: translateXunquote("(" -10px ")");
            -ms-transform: translateXunquote("(" -10px ")");
            -o-transform: translateXunquote("(" -10px ")");
            transform: translateXunquote("(" -10px ")");
        }
    }
    @keyframes loading {
        80% {
            margin-right: 5px;
            -webkit-transform: translateXunquote("(" -10px ")");
            -moz-transform: translateXunquote("(" -10px ")");
            -ms-transform: translateXunquote("(" -10px ")");
            -o-transform: translateXunquote("(" -10px ")");
            transform: translateXunquote("(" -10px ")");
        }
    }


    @keyframes noise {
        0% {
        background-image: url(http://api.thumbr.it/whitenoise-200x200.png?background=0a2406ff&noise=142238&density=85&opacity=100);
        }
        33% {
        background-image: url(http://api.thumbr.it/whitenoise-210x200.png?background=0a2406ff&noise=182235&density=85&opacity=100);
        }
        66% {
        background-image: url(http://api.thumbr.it/whitenoise-200x190.png?background=0a2406ff&noise=142248&density=85&opacity=100);
        }
    }
    .scan:after {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        opacity: 1;
        transform: translate3D(0, 0, 0);
        width: 100vw;
        height: 120px;
        mix-blend-mode: screen;
        background-color: black;
        background-image: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.5) 50%), linear-gradient(to top, #050f05, rgba(0, 0, 0, 0) 110%);
        background-size: 15px 15px, 100%;
        animation: scan 2.5s linear infinite, blink 0.6s infinite;
    }
    
    @keyframes blink {
        0% {
        opacity: 0.7;
        }
        15% {
        opacity: 0.4;
        }
        20% {
        opacity: 0.7;
        }
        23% {
        opacity: 0.3;
        }
        27% {
        opacity: 0.7;
        }
        50% {
        opacity: 0.8;
        }
        60% {
        opacity: 0.5;
        }
        61% {
        opacity: 0.8;
        }
        62% {
        opacity: 0.6;
        }
        67% {
        opacity: 0.7;
        }
        69% {
        opacity: 0.4;
        }
        77% {
        opacity: 0.7;
        }
        80% {
        opacity: 0.3;
        }
        100% {
        opacity: 0.7;
        }
    }
    @keyframes scan {
        0% {
        transform: translate3D(0, -100px, 0);
        }
        100% {
        transform: translate3D(0, 1000px, 0);
        }
    }
    
}