
body.map{
    background-color: #111;
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        height: 100vh;
        @media (max-width: 980px){
            display: block;
            padding: 20px 0;
            height: 90vh;

            .scale-buttons, .dashboard, .status, .info{
                display: none;
            }
        }
        >header{
            box-sizing: border-box;
            margin: 0 auto 15px;
            padding: 5px 10px;
            width: 80%;
            border: 1px solid white;
            color: #eee;
            font-family: $font;
            font-size: 40px;
            text-transform: uppercase;
            @media (min-width: 981px){
                display: none;
            }
        }
        .scale-buttons{
            position: absolute;
            bottom: 5%;
            left: 5%;
            transform: translate(10px, -8px);
            button{
                margin-right: 5px;
                width: 50px;
                height: 50px;
                border: 1px solid #eee;
                background-color: transparent;
                color: #eee;
                font-size: 40px;
                font-weight: 300;
                &:hover{
                    background-color: #eee;
                    color: #111;
                }
            }
        }
        .dashboard{
            position: absolute;
            top: 5%;
            left: 5%;
            transform: translate(10px, 8px);
            padding: 2px;
            border: 1px solid rgba(white,0.5);
            color: #aaa;
            .number{
                display: none;
                // display: flex;
                // flex-wrap: wrap;
                // justify-content: center;
                // align-items: center;
                // margin: 10px 10px 0 10px;
                // width: 120px;
                // height: 120px;
                // border: 1px solid rgba(white,0.5);
                // border-radius: 50%;
                // font-size: 40px;
            }
            .chart{
                margin: 10px 10px 0 10px;
                width: 120px;
                height: 120px;

                .rate{
                    stroke-dasharray: 350;
                    stroke-dashoffset: 340;
                    animation: chart-rate 3s ease-out infinite alternate none;
                }
                text{
                    font-size: 40px;
                    fill:#aaa;
                    text-anchor: middle;
                    transform: translateY(10px);
                }
            }
            .describe{
                margin: 5px 0;
                width: 100%;
                font-size: 16px;
                font-weight: 300;
                text-align: center;
            }
            footer{
                border: 1px solid rgba(white,0.5);
                font-weight: 300;
                text-align: center;
            }
        }
        .status{
            position: absolute;
            top: 5%;
            right: 5%;
            transform: translate(-8px, 8px);
            padding: 5px;
            width: 150px;
            // border: 1px solid rgba(white,0.5);
            color: #aaa;
            .bar{
                box-sizing: border-box;
                padding: 1px;
                width: 100%;
                height: 10px;
                border: 1px solid $brand;
                .bar-inner{
                    width: 27%;
                    height: 100%;
                    background-color: $brand;
                }
            }
            .status-text{
                margin-top: 3px;
            }
        }
        .info{
            position: absolute;
            bottom: 5%;
            right: 5%;
            transform: translate(-8px, -8px);
            padding: 5px;
            width: 150px;
            color: #aaa;
            header{
                color: #ccc;
            }
            p{
                margin: 0;
                line-height: 1;
                opacity: 0.6;
            }
        }
       
        .canvas-wraper{
            position: relative;
            .move-button{
                position: absolute;
                top: 1px;
                width: 80px;
                height: 100%;
                border: none;
                background-color: rgba($brand,0.2);
                color: white;
                font-size: 30px;
                @media (min-width: 981px){
                    display: none;
                }
                &.disable{
                    opacity: 0.2;
                }
                &.move-left{
                    left: 10%;
                }
                &.move-right{
                    right: 10%;
                }
            }
        }
        .canvas-container{
            margin-left: auto;
            margin-right: auto;
        }
        canvas{
            border: 1px solid #aaa;
        }

        .detail{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            box-sizing: border-box;
            margin: 15px auto 0;
            width: 80%;
            color: #eee;
            font-family: $font;
            @media (min-width: 981px){
                display: none;
            }

            header{
                box-sizing: border-box;
                margin-bottom: 10px;
                padding: 5px 10px;
                width: 100%;
                border: 1px solid white;
                font-size: 30px;
            }
            img{

            }
            .read-more{
                display: inline-block;
                box-sizing: border-box;
                margin-top: 10px;
                padding: 5px 10px;
                width: 100%;
                background-color: $brand;
                font-size: 20px;
                color: white;
            }
        }
    }
}

@keyframes chart-rate {
    0%{
        stroke-dashoffset: 340;
    }
    20%{
        stroke-dashoffset: 240;
    }
    40%{
        stroke-dashoffset: 300;
    }
    60%{
        stroke-dashoffset: 280;
    }
    80%{
        stroke-dashoffset: 100;
    }
    100%{
        stroke-dashoffset: 150;
    }
}