$black: #010510;
$dark-blue: #061A29;
// $red: #712D2E;
$blue: #58C2D4;
$red: #B13638;

$alert1: 'system error';
$alert2: 'virus detected';
:root{
    --progress: 0%;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body.opening{
    position: relative;
    margin: 0;
    height: calc(100vh - 2px);
    border: 1px solid red;
    background-color: $black;
    overflow: hidden;


    svg{
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: -1;
        rect{
            stroke: $dark-blue;
        }
    }
    >.nav{
        // border: 1px solid yellow;
        display: none;
        ul{
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 8px 10px;
            >li{
                margin-right: 5px;
                padding: 5px 10px;
                // width: 100%;
                min-width: 9%;
                border: 1px solid $brand;
                color: $brand;
                &:nth-child(1){
                    // width: 300px;
                }
                &:nth-child(2){
                    // width: 600px;
                }
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }

    >section{
        position: relative;
        .logo{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -65%);
            width: 300px;
            opacity: 0.2;
            animation: breathing 3s ease-in-out 0.5s infinite alternate none;
        }
    }

    >footer{
        display: none;
        .attribute-box{
            position: absolute;
            left: 10px;
            bottom: 10px;
            padding: 10px;
            width: 150px;
            height: 200px;
            border: 1px solid $brand;
            color: #aaa;
        }
    }
    

    video{
        width: 100%;
        height: 100vh;
        object-fit: cover;
        opacity: 0;
    }


}

.progressbar{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 1px;
    width: 50%;
    border: 1px solid $brand;
    .progressbar-inner{
        width: var(--progress);
        height: 20px;
        background-color: $brand;
    }
}


@keyframes breathing {
    from {opacity: 0.2;}
    to {opacity: 1;}
}