$black: #010510;
$dark-blue: #061A29;
$blue: #58C2D4;
$red: #B13638;

body.timemachine{
    position: relative;
    margin: 0;
    padding: 10px;
    height: calc(100vh - 2px);
    border: 1px solid red;
    background-color: $black;
    overflow: hidden;

    svg{
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: -1;
        rect{
            stroke: $dark-blue;
        }
    }
    >header{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        font-family: $font;
        opacity: 0.4;
        p{
            margin: 0 5px;
        }
        .header-left{
            display: flex;
            width: 35%;
            color: white;
            font-size: 16px;
            
            .decoration-block{
                width: 35%;
                p{
                    color: transparent;
                    &:nth-child(1){
                        background-image: linear-gradient(to right, #333 70%, #666 30%);
                        animation: block-move 2s linear 0s infinite alternate none;
                    }
                }
                p{
                    &:nth-child(2){
                        background-image: linear-gradient(to right, #999 70%, transparent 30%);
                        animation: block-move 2s linear 1s infinite alternate none;
                    }
                }
            }
            .text1{
                width: 30%;
            }
            .text2{
                p{
                    color: darken($brand,20);
                }
            }
        }
        .header-right{
            width: 45%;
            .window-title{
                padding: 5px;
                color: #ccc;
                font-size: 22px;
                background-color: #333;
                text-transform: uppercase;
            }
            p{
                color:#999;
            }
            .window-content{
                position: relative;
                nav{
                    display: flex;
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 5px 0;
                    color: #999;
                    .button{
                        margin-right: 5px;
                        padding: 5px 20px;
                        width: 60px;
                        border: 1px solid #555;
                        font-size: 18px;
                        text-transform: uppercase;
                        &:last-child{
                            margin-right: 0;
                            border: 1px solid $brand;
                            background-color: rgba($brand,0.4);
                        }
                    }
                }
            }
        }
    }

    >footer{
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 10px;
        width: 100%;
        font-family: $font;
        color: white;
        z-index: -1;
        .window-title{
            height: 15px;
            background-color: #333;
        }
        .window-content{
            display: flex;
            justify-content: space-between;
            .left{
                display: flex;
                width: 45%;
                .button{
                    &:first-child{
                        border: 1px solid $brand;
                        background-color: rgba($brand,0.4);
                    }
                }
            }
            .right{
                width: 40%;
                nav{
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                }
                .button{
                    width: 150px;
                    &:nth-child(2){
                        border: 1px solid $brand;
                        background-color: rgba($brand,0.4);
                    }
                }
            }
            nav{
                display: flex;
                padding: 5px 0;
                width: 50%;
                color: #999;
            }
            .button{
                margin-right: 5px;
                padding: 5px 20px;
                height: 22px;
                border: 1px solid #555;
                font-size: 16px;
                text-transform: uppercase;
                
            }
            .decoration-text{
                p{
                    margin: 1px 0;
                    color: #aaa;
                }
            }
        }
    }

    section{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 80%;
        // border: 1px solid yellow;
        aside{
            position: absolute;
            left: 15px;

            ul{
                display: flex;
                flex-direction: column-reverse;
                padding: 0;
                >li{
                    margin-top: 20px;
                    padding: 10px;
                    color: #999;
                    font-size: 22px;
                    transform: rotate(-90deg);
                    cursor: pointer;
                    &:hover,&.active{
                        color: $brand;
                    }
                }
            }
        }

        &#gamers,&#universe,&#medias,&#bts{
            width: 100%;
            height: 600px;
            transform-origin: top;
            transform: scale(0.8);
        }
        &#gamers{
            background-color: yellow;
        }
        &#universe{
            background-color: lightgreen;
        }
        &#medias{
            background-color: lightblue;
        }
        &#bts{
            background-color: rebeccapurple;
        }

    }
    canvas{
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid white;
        z-index: -1;
    }
    .cards-box{
        position: relative;
        // border: 5px solid pink;
        width: 750px;
        transform: translate(0, -250px);
        .card{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 440px;
            // border: 1px solid red;
            background: black;
            box-shadow: 0px -1px 20px 3px rgba(black,0.8);
            transition: all 0.2s linear;

            &[data-slide='0']{
                transform: translate(0px, 0px) scale(1);
                z-index: 6;
                opacity: 1;
            }
            &[data-slide='1']{
                transform: translate(0px, -40px) scale(0.95);
                z-index: 5;
                opacity: 0.9;
            }
            &[data-slide='2']{
                transform: translate(0px, -75px) scale(0.9);
                z-index: 4;
                opacity: 0.8;
            }
            &[data-slide='3']{
                transform: translate(0px, -107px) scale(0.85);
                z-index: 3;
                opacity: 0.7;
            }
            &[data-slide='4']{
                transform: translate(0px, -136px) scale(0.8);
                z-index: 2;
                opacity: 0.6;
            }

            .card-title{
                margin-bottom: 5px;
                padding: 5px 10px;
                background-color: $brand;
                font-family: ROG_light;
                font-size: 24px;
                font-weight: 500;
                color: #eee;
            }
            .card-content{
                display: flex;
                justify-content: space-around;
                padding: 5px;
                height: 90%;
                border: 1px solid white;
                .featured-image{
                    width: 55%;
                    object-fit: cover;
                }
                .story{

                }
            }

        }
    }


    @keyframes block-move{
        10%{
            background-image: linear-gradient(to right, #333 40%, #666 40%);
        }
        20%{
            background-image: linear-gradient(to right, #333 70%, #666 70%);
        }
        100%{
            background-image: linear-gradient(to right, #333 20%, #666 20%);
        }
    }

}