section.worldview{
    position: relative;
    padding-bottom: 200px;
    height: 100vh;
    // background-image: url(../img/worldview/worldview.jpg);
    // background-size: cover;
    // background-position: 0 60%;
    // box-shadow: 0 0 10px 50px yellow inset;
    overflow: hidden;
    
    article{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100vh + 100px);
        box-shadow: 0 0 150px 200px black inset;
    }
    .section-title{
        margin: 50px;
    }
    .banner{
        margin-top: -140px;
        opacity: 0.5;
        width: 100%;
        // border: 1px solid yellow;
    }
    nav{
        color: white;
        ul{
            display: flex;
            list-style-type: none;
        }
        li{
            padding: 10px 20px;
            border-top: 2px solid white;
            border-bottom: 2px solid white;
            text-align: center;
            letter-spacing: 0.5px;
            &.active{
                position: relative;
                background-color: #fff;
                color: black;
                &:after{
                    content: '';
                    position: absolute;
                    bottom: 5px;
                    right: 5px;
                    width: 10px;
                    height: 5px;
                    background-color: black;
                }
            }
        }
        li,.target{
            box-sizing: border-box;
	        width: 150px;
        }

        .target{
            position: relative;
            padding: 8px 20px;
            border: none;
            border-radius: 10px;
            transition: 1.2s;
            pointer-events: none;
            opacity: 0;
            &:before,&:after{
                content: '';
                position: absolute;
            }
            &:before{
                top: 4px;
                left: 4px;
                border: 3px solid white;
                border-right-color: transparent;
                width: 40%;
                height: calc(100% - 14px);
            }
            &:after{
                top: 4px;
                right: 4px;
                border: 3px solid white;
                border-left-color: transparent;
                width: 40%;
                height: calc(100% - 14px);
            }
            
        }
        li{
            &:hover{
                &~.target{
                    opacity: 1;
                }
            }
        }
        li:nth-child(1){
            &:hover{
                &~.target{
                    transform: translateX(-800px);
                }
            }
        }
        li:nth-child(2){
            width: 100px;
            &:hover{
                &~.target{
                    width: 100px;
                    transform: translateX(-650px);
                }
            }
        }
        
        li:nth-child(3){
            &:hover{
                &~.target{
                    transform: translateX(-550px);
                }
            }
        }
        li:nth-child(4){
            &:hover{
                &~.target{
                    transform: translateX(-400px);
                }
            }
        }
        li:nth-child(5){
            width: 250px;
            &:hover{
                &~.target{
                    width: 250px;
                    transform: translateX(-250px);
                }
            }
        }
    }

    section{
        margin: 60px;
        padding: 20px;
        width: 400px;
        height: 250px;
        color: white;
        letter-spacing: 1px;
        line-height: 1.8;
        overflow-y: scroll;

        background-color: rgba(white, 0.2);
    }
    

    // typing效果
    .typewriter2{
        border-right: .15em solid white; /* The typwriter cursor */
        width: 700px;
        color: #fff;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        font-weight: 800;
        font-family: 'Teko', sans-serif;
        font-size: 50px;
        white-space: nowrap; /* Keeps the content on a single line */
        letter-spacing: 6px; /* Adjust as needed */
        animation: 
            typing2 4s steps(22, end),
            blink-caret .5s step-end infinite,
        }
  
    /* The typing effect */
}
.slider-container{
    margin-top: -200px;
    width: 100%;
    overflow: hidden;
}
.slider{
    display: flex;
    width: 200%;
    height: 400px;
    animation-name: playslider;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-iteration-count: infinite;

    .slides{
        margin-right: 50px;
        width: 580px;
        height: 280px;
        background-color: #43FFFE;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .slides:nth-child(1), .slides:nth-child(3),.slides:nth-child(5){
        // background-image: url(../img/worldview/slider_seven.jpg);
    }
    .slides:nth-child(2),.slides:nth-child(4),.slides:nth-child(6){
        // background-image: url(../img/worldview/slider_2.jpg);
    }
}

@keyframes typing2 {
    from { width: 0; }
    to { width: 700px; }
}

@keyframes playslider{
    from{ transform: translateX(0);}
    to{transform: translateX(-100%);}
}